<div class="col-md-6 offset-md-3 card bg-info text-white text-center p-3">
      <blockquote class="blockquote mb-0">
            <p>Merci de nous avoir conctacté !</p>
            <footer class="blockquote-footer text-white">
                  <small>
                        Nous vous répondrons <cite title="Source Title">dans de bref délai</cite>
                  </small>
            </footer>
      </blockquote>
</div>